<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
	<head>
		<meta charset="UTF-8"/>
		<title>Login</title>
	</head>
	<body>
	<section class="vh-100" style="background-color: #508bfc;">
	<div class="container ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
			
			<form action="" th:action="@{/change-password}" method="POST">
				<div class="form-group">
				  	<input type="text" name="newPass" class="form-control" placeholder="Enter new password here">
				</div>
				<div class="container text-center mt-2">
				 <button class="btn btn-primary">Change Password</button>
				</div>
			</form>		
          </div>
        </div>
      </div>
    </div>
  </div>

	</section>
	
	</body>
</html>
